<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">MMI</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" data-mmi="3">mmi3</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" data-mmi="4">mmi4</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" data-mmi="5">mmi5</a></li>
    </ul>
</div>
{{#each properties}}
<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
    <div class="l-box">
        <h3><span>{{time}}--</span> {{locality}}</h3>
        <p><span>depth: </span>{{depth}}</p>
        <p><span>magnitude: </span>{{magnitude}}</p>
        <p><span>quality: </span>{{quality}}</p>
    </div>
</div>
{{/each}}

